body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-container {
    width: 250px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .login a{
    text-decoration: none;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .register{
    margin-left: 90px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 12px;
  }

  .imagen{
    margin-left: 80px;
    width: 100px;
    height: 100px;
  }
  